<h1 align="center">Lets play in FlashCards</h1>
<div class="mb-3">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Login">
    <label for="floatingInput">User name</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
    <div class="d-grid gap-2 mt-3" id="playBtn">
      <button class="btn btn-primary">Play</button>
    </div>
</div>

<script src="/js/auth.js"></script>
